
@{
    ViewBag.Title = "Index";
}

<hr />
<h3>MANAGE PROJECTS LIST</h3>
<hr />
<div class="form-group col-md-3">
    <label>Project Type</label>
    <select class="form-control" id="ddlProjectType">
    </select>
</div>
<div class="form-group col-md-3">
    <label>Practice Type</label>
    <select class="form-control" id="ddlPracticeType">
    </select>
</div>
<div class="form-group col-md-3">
    <label>Search</label>
    <input class="form-control" type="text" id="custName" />
</div>
<div class="form-group col-md-3">
    <input type="button" value="Submit" id="btnSearch" />
</div>
<table id="prjList" class="table-bordered table-striped">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Project Name</th>
            <th>Project Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Project Status</th>
            <th>Location/Group</th>
            <th>PayRoll State</th>
            <th>Sales Person</th>
            <th>Project Catagory</th>
            <th>Project Type</th>
            <th>Sub Domain</th>
            <th>Times Sheet Representative</th>
            <th>Client-Invoice Group</th>
            <th>Timesheet Type</th>
            <th>Is VMS Timesheet</th>
            <th>Practice Type</th>
            <th>Recuriter</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {

            BindProjectTypeList();
            BindPracTypeList();
            function BindPracTypeList() {
                $.ajax({
                    method: "GET",
                    url: "/ProjectApi/GetPracType?parentId=15760",
                    success: function (data) {
                        //console.log(data);
                        $(data).each(function () {
                            $("#ddlPracticeType").append($("<option></option>").val(this.Id).html(this.Name));
                        });
                        //ddlPracticeType
                    },
                    error: function () { }
                })
            }
            function BindProjectTypeList() {
                $.ajax({
                    method: "GET",
                    url: "/ProjectApi/GetProjectType?parentId=4650",
                    success: function (data) {
                        //console.log(data);
                        $(data).each(function () {
                            $("#ddlProjectType").append($("<option></option>").val(this.Id).html(this.Name));
                        });
                        //ddlProjectType
                    },
                    error: function () { }
                })
            }

            $("#prjList").DataTable({
                paging: false,
                bFilter: false,
                searching: false,
                dom: 't',
                ajax: {
                    url: "/ProjectApi/GetProjectList",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Cust_Name",
                        "searchable": false
                    },
                    {
                        data: "Project_Name",
                        render: function (data) { return "" + data }
                    },
                    {
                        data: "Id",
                    },
                    {
                        data: "SD",
                    },
                    {
                        data: "ED",
                    },
                    {
                        data: "Project_Status",
                    },
                    {
                        data: "Location_Group",
                    },
                    {
                        data: "PayRoll_State",
                    },
                    {
                        data: "Sales_Person",
                    },
                    {
                        data: "Proj_Cat",
                    },
                    {
                        data: "Proj_Type",
                    },
                    {
                        data: "Sub_Dom",
                    },
                    {
                        data: "TSP",
                    },
                    {
                        data: "CIG",
                    },
                    {
                        data: "TimesheetType",
                    },
                    {
                        data: "IVT",
                    },
                    {
                        data: "Prac_Type",
                    },
                    {
                        data: "Recruiter",
                    },
                    {
                        render: function (data, type, row, meta) {
                            return '<a href="/Project/Edit?Id=' + row.Id + '">EDIT</a>';
                        }
                    }
                ]
            });
            $("#btnSearch").on("click", function () {
                SaveData();
            });
            function SaveData() {
                let project = {};
                project.Cust_Name = $("#custName").val();
                project.Proj_Type = $("#ddlProjectType").val();
                project.Prac_Type = $("#ddlPracticeType").val();
                $.ajax({
                    method: "GET", //HTTP GET Method
                    url: "/ProjectApi/GetList", //Controller/View
                    data: project,
                    success: function () { },
                    error: function () { }
                });
            }

        });
    </script>
}
