
@{
    ViewBag.Title = "Index";
}

<h2>Projects List</h2>

<table id="prjList" class="table-bordered table-striped">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Project Name</th>
            <th>Project Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Project Status</th>
            <th>Location/Group</th>
            <th>PayRoll State</th>
            <th>Sales Person</th>
            <th>Project Catagory</th>
            <th>Project Type</th>
            <th>Sub Domain</th>
            <th>Times Sheet Representative</th>
            <th>Client-Invoice Group</th>
            <th>Timesheet Type</th>
            <th>Is VMS Timesheet</th>
            <th>Practice Type</th>
            <th>Recuriter</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {

            $("#prjList").DataTable({
                ajax: {
                    url: "/ProjectApi/GetProjectList",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "Cust_Name"
                    },
                    {
                        data: "Project_Name"
                        /*render: function (data) { return "" + data }*/
                    },
                    {
                        data:"Id",
                    },
                    {
                        data: "SD",
                    },
                    {
                        data: "ED",
                    },
                    {
                        data: "Project_Status",
                    },
                    {
                        data: "Location_Group",
                    },
                    {
                        data: "PayRoll_State",
                    },
                    {
                        data: "Sales_Person",
                    },
                    {
                        data: "Proj_Cat",
                    },
                    {
                        data: "Proj_Type",
                    },
                    {
                        data: "Sub_Dom",
                    },
                    {
                        data: "TSP",
                    },
                    {
                        data: "CIG",
                    },
                    {
                        data: "TimesheetType",
                    },
                    {
                        data: "IVT",
                    },
                    {
                        data: "Prac_Type",
                    },
                    {
                        data: "Recruiter",
                    }
                ]
            });

        });

    </script>
}